.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featureImg {
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.center {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #dbe4ed; /* Border color is optional */  
}

.homepageHeader {
  /* Center horizontally*/
  text-align: center;
}
